.container{
    height: fit-content;
    width: 270px;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    margin: 10px;
}
.comName{
    color: black;
    text-align: center;
    font-size: 20px;
    display: block;
    margin-top: -20px;
}
.detailsContainer{
    background-color: aliceblue;
    border: 1px solid white;
    border-radius: 10%;
    height: fit-content;
    width: 230px;
    align-self: center;
    padding-left: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.detailsContainer2{
    background-color: aliceblue;
    border: 1px solid white;
    border-radius: 10%;
    height: fit-content;
    width: 230px;
    align-self: center;
    padding-left: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.data{
    font-size: 15px;    
}

.dataNotFake{
    font-size: 19px;
    color: rgb(14, 150, 104);
    text-align: center;
    margin-top: 0px;
    margin-left: -10px !important;
}


.toggle1{
    font-size: 17px;
    width: 124px;
    height: 35px;
    background-color: rgb(115, 172, 115);
    border-color: rgb(115, 172, 115);
    border-radius: 20px;
    border-style: none;
}
.toggle2{
    font-size: 17px;
    width: 124px;
    height: 35px;
    border: none;
    background-color: rgba(186, 255, 186, 0.786);
    border-radius: 20px;
}
.toggles{
    border: 1px solid rgb(115, 172, 115);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#tot2{
    display: none; 
}
.refreshBtn{
    background-color: transparent;
    border: none;
    margin-right: 0;
    margin-left: auto;
    display: block;
}
.refreshBtn:hover{
    cursor: pointer;
}
#iIcon{
    margin-right: auto;
    margin-left: auto;
    display: block;
    width:  55%;
    margin-bottom: 10px;
    margin-top: 10px;
}
#tIcon{
    margin-right: auto;
    margin-left: auto;
    display: none;
    width: 55%;
    margin-bottom: 10px;
    margin-top: 10px;
}