.container{
    height: fit-content;
    width: 270px;
    background-color: rgba(186, 255, 186, 0.786);
    margin: 10px;
}
.comName{
    color: black;
    text-align: center;
    font-size: 20px;
}
.detailsContainer{
    background-color: aliceblue;
    border: 1px solid white;
    border-radius: 10%;
    height: fit-content;
    width: 230px;
    align-self: center;
    padding-left: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.detailsContainer2{
    background-color: aliceblue;
    border: 1px solid white;
    border-radius: 10%;
    height: fit-content;
    width: 230px;
    align-self: center;
    padding-left: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.data{
    font-size: 15px;    
}

.dataNotFake{
    font-size: 17px;
    color: rgb(14, 150, 104);
    text-align: center;
    margin-left: -10px;
}
.dataFake{
    font-size: 17px;
    color: rgb(150, 14, 14);
    text-align: center;   
    margin-left: -10px;
}
.dataFake2{
    font-size: 16px;
    color: rgb(150, 14, 14);
    text-align: center;   
    margin-left: -10px;
}
.accuracy{
    font-size: 13px;
    color: rgb(14, 150, 84);
    margin-top: -15px;
    text-align: right;
    margin-right: 10px;
    margin-left: -10px;
}
.toggle1{
    font-size: 17px;
    width: 124px;
    height: 35px;
    background-color: rgb(115, 172, 115);
    border-color: rgb(115, 172, 115);
    border-radius: 20px;
    border-style: none;
}
.toggle2{
    font-size: 17px;
    width: 124px;
    height: 35px;
    border: none;
    background-color: rgba(186, 255, 186, 0.786);
    border-radius: 20px;
}
.toggles{
    border: 1px solid rgb(115, 172, 115);
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
#tot2{
    display: none; 
}